---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1512685288'
      Etag:
      - W/"a45820aefd45337031d4af22c3161b27"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PlanetEfficacy","id":15135934,"avatar_url":"https://avatars3.githubusercontent.com/u/15135934?v=4","gravatar_id":"","url":"https://api.github.com/users/PlanetEfficacy","html_url":"https://github.com/PlanetEfficacy","followers_url":"https://api.github.com/users/PlanetEfficacy/followers","following_url":"https://api.github.com/users/PlanetEfficacy/following{/other_user}","gists_url":"https://api.github.com/users/PlanetEfficacy/gists{/gist_id}","starred_url":"https://api.github.com/users/PlanetEfficacy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PlanetEfficacy/subscriptions","organizations_url":"https://api.github.com/users/PlanetEfficacy/orgs","repos_url":"https://api.github.com/users/PlanetEfficacy/repos","events_url":"https://api.github.com/users/PlanetEfficacy/events{/privacy}","received_events_url":"https://api.github.com/users/PlanetEfficacy/received_events","type":"User","site_admin":false},{"login":"rickyamparo","id":19493743,"avatar_url":"https://avatars0.githubusercontent.com/u/19493743?v=4","gravatar_id":"","url":"https://api.github.com/users/rickyamparo","html_url":"https://github.com/rickyamparo","followers_url":"https://api.github.com/users/rickyamparo/followers","following_url":"https://api.github.com/users/rickyamparo/following{/other_user}","gists_url":"https://api.github.com/users/rickyamparo/gists{/gist_id}","starred_url":"https://api.github.com/users/rickyamparo[...]
