---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1512685288'
      Etag:
      - W/"47bb85c041208210a15747fe4344f365"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"PlanetEfficacy","id":15135934,"avatar_url":"https://avatars3.githubusercontent.com/u/15135934?v=4","gravatar_id":"","url":"https://api.github.com/users/PlanetEfficacy","html_url":"https://github.com/PlanetEfficacy","followers_url":"https://api.github.com/users/PlanetEfficacy/followers","following_url":"https://api.github.com/users/PlanetEfficacy/following{/other_user}","gists_url":"https://api.github.com/users/PlanetEfficacy/gists{/gist_id}","starred_url":"https://api.github.com/users/PlanetEfficacy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PlanetEfficacy/subscriptions","organizations_url":"https://api.github.com/users/PlanetEfficacy/orgs","repos_url":"https://api.github.com/users/PlanetEfficacy/repos","events_url":"https://api.github.com/users/PlanetEfficacy/events{/privacy}","received_events_url":"https://api.github.com/users/PlanetEfficacy/received_events","type":"User","site_admin":false},{"login":"Maxscores","id":29938166,"avatar_url":"https://avatars1.githubusercontent.com/u/29938166?v=4","gravatar_id":"","url":"https://api.github.com/users/Maxscores","html_url":"https://github.com/Maxscores","followers_url":"https://api.github.com/users/Maxscores/followers","following_url":"https://api.github.com/users/Maxscores/following{/other_user}","gists_url":"https://api.github.com/users/Maxscores/gists{/gist_id}","starred_url":"https://api.github.com/users/Maxscores/starred{/owne[...]
