---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_SECRET>&affiliation=owner&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1512702439'
      Etag:
      - W/"1a61915034346a06f99f62ec6a4e5dba"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":105611660,"name":"activerecord_exploration","full_name":"marshallhouston/activerecord_exploration","owner":{"login":"marshallhouston","id":24700836,"avatar_url":"https://avatars1.githubusercontent.com/u/24700836?v=4","gravatar_id":"","url":"https://api.github.com/users/marshallhouston","html_url":"https://github.com/marshallhouston","followers_url":"https://api.github.com/users/marshallhouston/followers","following_url":"https://api.github.com/users/marshallhouston/following{/other_user}","gists_url":"https://api.github.com/users/marshallhouston/gists{/gist_id}","starred_url":"https://api.github.com/users/marshallhouston/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/marshallhouston/subscriptions","organizations_url":"https://api.github.com/users/marshallhouston/orgs","repos_url":"https://api.github.com/users/marshallhouston/repos","events_url":"https://api.github.com/users/marshallhouston/events{/privacy}","received_events_url":"https://api.github.com/users/marshallhouston/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/marshallhouston/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/marshallhouston/activerecord_exploration","forks_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/marshallhouston/activerecord_exploration/deployments","created_at":"2017-10-03T03:41:05Z","updated_at":"2017-10-03T03:41:07Z","pushed_at":"2017-06-30T15:55:56Z","git_url":"git://github.com/marshallhouston/activerecord_exploration.git","ssh_url":"git@github.com:marshallhouston/activerecord_exploration.git","clone_url":"https://github.com/marshallhouston/activerecord_exploration.git","svn_url":"https://github.com/marshallhouston/activerecord_exploration","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":113113824,"name":"apicurious","full_name":"marshallhouston/apicurious","owner":{"login":"marshallhouston","id":24700836,"avatar_url":"https://avatars1.githubusercontent.com/u/24700836?v=4","gravatar_id":"","url":"https://api.github.com/users/marshallhouston","html_url":"https://github.com/marshallhouston","followers_url":"https://api.github.com/users/marshallhouston/followers","following_url":"https://api.github.com/users/marshallhouston/following{/other_user}","gists_url":"https://[...]
