---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1512685288'
      Etag:
      - W/"96245377f20906fdb6fab4482f21242b"
      Last-Modified:
      - Thu, 07 Dec 2017 18:28:21 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"marshallhouston","id":24700836,"avatar_url":"https://avatars1.githubusercontent.com/u/24700836?v=4","gravatar_id":"","url":"https://api.github.com/users/marshallhouston","html_url":"https://github.com/marshallhouston","followers_url":"https://api.github.com/users/marshallhouston/followers","following_url":"https://api.github.com/users/marshallhouston/following{/other_user}","gists_url":"https://api.github.com/users/marshallhouston/gists{/gist_id}","starred_url":"https://api.github.com/users/marshallhouston/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/marshallhouston/subscriptions","organizations_url":"https://api.github.com/users/marshallhouston/orgs","repos_url":"https://api.github.com/users/marshallhouston/repos","events_url":"https://api.github.com/users/marshallhouston/events{/privacy}","received_events_url":"https://api.github.com/users/marshallhouston/received_events","type":"User","site_admin":false,"name":"Marshall
        Houston","company":null,"blog":"","location":"Denver, CO","email":"marshall.houston@gmail.com","hireable":null,"bio":"I
        am a former middle school teacher with six years of experience in the K-12
        education space finding my way in the world of development.","public_repos":42,"public_gists":15,"followers":3,"following":6,"created_at":"2016-12-21T15:50:25Z","updated_at":"2017-12-07T18:28:21Z","private_gists":2,"total_private_repos":0,"owned_private_repos":0,"disk_usage":430,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 07 Dec 2017 21:29:12 GMT
recorded_with: VCR 4.0.0
